# Import Libraries & CSV

In [1]:
import pandas as pd

In [2]:
fuel_output = pd.read_csv('on_fuel_source_output_2017.csv', keep_default_na=False, na_values=[""])

In [3]:
fuel_demand = pd.read_csv('on_demand_2017.csv', keep_default_na=False, na_values=[""])

# Data Manipulation

In [4]:
fuel_output.head()

         Date  Hour     Fuel  Output
0  2017-01-01     1  NUCLEAR   11592
1  2017-01-01     1      GAS     234
2  2017-01-01     1    HYDRO    2455
3  2017-01-01     1     WIND    2433
4  2017-01-01     1    SOLAR       0

subtract 1 hour because we want 0 to 23 hr

In [5]:
fuel_output['Hour'] = fuel_output['Hour'] - 1

In [6]:
fuel_output.head()

         Date  Hour     Fuel  Output
0  2017-01-01     0  NUCLEAR   11592
1  2017-01-01     0      GAS     234
2  2017-01-01     0    HYDRO    2455
3  2017-01-01     0     WIND    2433
4  2017-01-01     0    SOLAR       0

In [7]:
fuel_demand.head()

,Date,Hour,Ontario Demand,Northwest,Northeast,Ottawa,East,Toronto,Essa,Bruce,Southwest,Niagara,West,Zone Total,Diff
0,2017-01-01,1,13522,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,268"
1,2017-01-01,2,13117,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,673"
2,2017-01-01,3,12816,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,974"
3,2017-01-01,4,12605,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,186"
4,2017-01-01,5,12563,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,227"

In [8]:
fuel_demand['Hour'] = fuel_demand['Hour'] -1

In [9]:
fuel_demand.head()

,Date,Hour,Ontario Demand,Northwest,Northeast,Ottawa,East,Toronto,Essa,Bruce,Southwest,Niagara,West,Zone Total,Diff
0,2017-01-01,0,13522,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,268"
1,2017-01-01,1,13117,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,673"
2,2017-01-01,2,12816,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,974"
3,2017-01-01,3,12605,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,186"
4,2017-01-01,4,12563,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,227"

Create Datetime columns in both df

In [10]:
fuel_output['Datetime'] = pd.to_datetime(fuel_output['Date']) + pd.to_timedelta(fuel_output['Hour'], unit='h')

In [11]:
fuel_output.head()

         Date  Hour     Fuel  Output   Datetime
0  2017-01-01     0  NUCLEAR   11592 2017-01-01
1  2017-01-01     0      GAS     234 2017-01-01
2  2017-01-01     0    HYDRO    2455 2017-01-01
3  2017-01-01     0     WIND    2433 2017-01-01
4  2017-01-01     0    SOLAR       0 2017-01-01

In [12]:
fuel_demand['Datetime'] = pd.to_datetime(fuel_demand['Date']) + pd.to_timedelta(fuel_demand['Hour'], unit='h')

In [13]:
fuel_demand.head()

,Date,Hour,Ontario Demand,Northwest,Northeast,Ottawa,East,Toronto,Essa,Bruce,Southwest,Niagara,West,Zone Total,Diff,Datetime
0,2017-01-01,0,13522,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,268",2017-01-01 00:00:00
1,2017-01-01,1,13117,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,673",2017-01-01 01:00:00
2,2017-01-01,2,12816,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,974",2017-01-01 02:00:00
3,2017-01-01,3,12605,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,186",2017-01-01 03:00:00
4,2017-01-01,4,12563,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,227",2017-01-01 04:00:00

Groupby Datetime

In [14]:
fuel_output_total = pd.DataFrame(fuel_output.groupby('Datetime')['Output'].sum())
fuel_output_total.columns = ['fuel_total']

In [15]:
fuel_output_total.head()

                     fuel_total
Datetime
2017-01-01 00:00:00       16715
2017-01-01 01:00:00       16344
2017-01-01 02:00:00       15942
2017-01-01 03:00:00       15727
2017-01-01 04:00:00       15653

Set index using Datetime

In [16]:
fuel_demand.set_index('Datetime',inplace=True)

In [17]:
fuel_demand.head()

,Date,Hour,Ontario Demand,Northwest,Northeast,Ottawa,East,Toronto,Essa,Bruce,Southwest,Niagara,West,Zone Total,Diff
Datetime,,,,,,,,,,,,,,,
2017-01-01 00:00:00,2017-01-01,0,13522,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,268"
2017-01-01 01:00:00,2017-01-01,1,13117,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,673"
2017-01-01 02:00:00,2017-01-01,2,12816,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"2,974"
2017-01-01 03:00:00,2017-01-01,3,12605,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,186"
2017-01-01 04:00:00,2017-01-01,4,12563,495,1476,1051,1203,5665,1045,72,2986,465,1334,15790,"3,227"

Create SBG data by joining the two data and taking the difference

In [18]:
SBG = pd.merge(fuel_output_total[['fuel_total']],fuel_demand[['Ontario Demand']], how='inner',left_index=True, right_index=True)

In [19]:
SBG.head()

                     fuel_total  Ontario Demand
Datetime
2017-01-01 00:00:00       16715           13522
2017-01-01 01:00:00       16344           13117
2017-01-01 02:00:00       15942           12816
2017-01-01 03:00:00       15727           12605
2017-01-01 04:00:00       15653           12563

In [20]:
SBG['Difference'] = SBG['fuel_total'] - SBG['Ontario Demand']

In [21]:
SBG.head()

                     fuel_total  Ontario Demand  Difference
Datetime
2017-01-01 00:00:00       16715           13522        3193
2017-01-01 01:00:00       16344           13117        3227
2017-01-01 02:00:00       15942           12816        3126
2017-01-01 03:00:00       15727           12605        3122
2017-01-01 04:00:00       15653           12563        3090

Check if there's any cell with difference less than 0

In [22]:
SBG[SBG['Difference']<0].count()

fuel_total        697
Ontario Demand    697
Difference        697
dtype: int64

Assign negative numbers with 0's

In [23]:
SBG.loc[SBG['Difference']<=0,'Difference'] = 0

In [24]:
SBG[SBG['Difference']<0].count()

fuel_total        0
Ontario Demand    0
Difference        0
dtype: int64

Convert SBG MWh to KWh

In [25]:
SBG['Difference'] = SBG['Difference']*1000

Export the SBG data to a csv file

In [26]:
SBG.columns = ['fuel_output','fuel_demand','SBG(kWh)']

In [27]:
SBG.head()

                     fuel_output  fuel_demand  SBG(kWh)
Datetime
2017-01-01 00:00:00        16715        13522   3193000
2017-01-01 01:00:00        16344        13117   3227000
2017-01-01 02:00:00        15942        12816   3126000
2017-01-01 03:00:00        15727        12605   3122000
2017-01-01 04:00:00        15653        12563   3090000

In [28]:
SBG.to_csv('exportfile'+'.csv', index=True, sep=',')

# HOEP Data

In [29]:
hoep_data = pd.read_csv('HOEP_2017.csv', keep_default_na=False, na_values=[""])

In [30]:
hoep_data.head()

,Date,Hour,HOEP,Hour 1 Predispatch,Hour 2 Predispatch,Hour 3 Predispatch,OR 10 Min Sync,OR 10 Min non-sync,OR 30 Min
0,2017-01-01,1,0.0,5.94,0.0,0.0,NaN,NaN,NaN
1,2017-01-01,2,0.0,0.00,2.2,0.0,NaN,NaN,NaN
2,2017-01-01,3,0.0,0.00,0.0,0.0,NaN,NaN,NaN
3,2017-01-01,4,0.0,0.00,0.0,0.0,NaN,NaN,NaN
4,2017-01-01,5,0.0,0.00,0.0,0.0,NaN,NaN,NaN

In [31]:
hoep_data['Hour'] = hoep_data['Hour'] -1

In [32]:
hoep_data['Datetime'] = pd.to_datetime(hoep_data['Date']) + pd.to_timedelta(hoep_data['Hour'], unit='h')

In [33]:
hoep_data.head()

,Date,Hour,HOEP,Hour 1 Predispatch,Hour 2 Predispatch,Hour 3 Predispatch,OR 10 Min Sync,OR 10 Min non-sync,OR 30 Min,Datetime
0,2017-01-01,0,0.0,5.94,0.0,0.0,NaN,NaN,NaN,2017-01-01 00:00:00
1,2017-01-01,1,0.0,0.00,2.2,0.0,NaN,NaN,NaN,2017-01-01 01:00:00
2,2017-01-01,2,0.0,0.00,0.0,0.0,NaN,NaN,NaN,2017-01-01 02:00:00
3,2017-01-01,3,0.0,0.00,0.0,0.0,NaN,NaN,NaN,2017-01-01 03:00:00
4,2017-01-01,4,0.0,0.00,0.0,0.0,NaN,NaN,NaN,2017-01-01 04:00:00

In [34]:
hoep_data.set_index('Datetime',inplace=True)

In [35]:
input_df = pd.merge(SBG[['SBG(kWh)']],hoep_data[['HOEP']], how='inner',left_index=True, right_index=True)

In [36]:
input_df

                     SBG(kWh)   HOEP
Datetime
2017-01-01 00:00:00   3193000   0.00
2017-01-01 01:00:00   3227000   0.00
2017-01-01 02:00:00   3126000   0.00
2017-01-01 03:00:00   3122000   0.00
2017-01-01 04:00:00   3090000   0.00
2017-01-01 05:00:00   2898000   0.00
2017-01-01 06:00:00   2739000   0.00
2017-01-01 07:00:00   2726000   1.71
2017-01-01 08:00:00   2267000   0.00
2017-01-01 09:00:00   2324000   0.00
2017-01-01 10:00:00   2389000   0.82
2017-01-01 11:00:00   2569000   0.00
2017-01-01 12:00:00   2523000   0.00
2017-01-01 13:00:00   2627000   0.00
2017-01-01 14:00:00   2781000   0.95
2017-01-01 15:00:00   2611000   6.44
2017-01-01 16:00:00   1862000   1.31
2017-01-01 17:00:00   1875000  12.30
2017-01-01 18:00:00   1962000  19.65
2017-01-01 19:00:00   1732000   6.26
2017-01-01 20:00:00   1933000  12.97
2017-01-01 21:00:00   2149000  12.98
2017-01-01 22:00:00   2237000  12.98
2017-01-01 23:00:00   2431000  40.95
2017-01-02 00:00:00   2426000  17.58
2017-01-02 01:00:00   2693000  22.08
2017-01-02 02:00:00   2610000   6.44
2017-01-02 03:00:00   2504000   0.00
2017-01-02 04:00:00   2455000   0.00
2017-01-02 05:00:00   2242000  -0.75
...                       ...    ...
2017-12-30 18:00:00   3211000  40.89
2017-12-30 19:00:00   2744000  39.51
2017-12-30 20:00:00   2505000  41.11
2017-12-30 21:00:00   2535000  43.27
2017-12-30 22:00:00   2184000  39.20
2017-12-30 23:00:00   1790000  39.26
2017-12-31 00:00:00   1489000  40.57
2017-12-31 01:00:00   2184000  50.90
2017-12-31 02:00:00   2321000  46.36
2017-12-31 03:00:00   1659000  34.85
2017-12-31 04:00:00   1830000  41.80
2017-12-31 05:00:00   1852000  42.20
2017-12-31 06:00:00   1787000  39.69
2017-12-31 07:00:00   1881000  44.72
2017-12-31 08:00:00   1551000  42.04
2017-12-31 09:00:00   1681000  42.56
2017-12-31 10:00:00   1700000  42.37
2017-12-31 11:00:00   1428000  41.77
2017-12-31 12:00:00   1665000  41.60
2017-12-31 13:00:00   1917000  40.58
2017-12-31 14:00:00   2280000  41.29
2017-12-31 15:00:00   1683000  39.43
2017-12-31 16:00:00   1967000  45.80
2017-12-31 17:00:00   1936000  50.45
2017-12-31 18:00:00   2147000  46.10
2017-12-31 19:00:00   2326000  40.04
2017-12-31 20:00:00   2408000  39.71
2017-12-31 21:00:00   2370000  39.37
2017-12-31 22:00:00   2247000  39.79
2017-12-31 23:00:00   2155000  42.56

[8760 rows x 2 columns]

# NG Production & Demand

In [41]:
NG_hourly_distribution = pd.read_csv('NG_hourly_distribution.csv')

In [42]:
NG_hourly_distribution.head()

   hour  hourly_distribution
0     1                  105
1     2                  100
2     3                   95
3     4                   95
4     5                  100

In [43]:
NG_hourly_distribution['ratio'] = NG_hourly_distribution['hourly_distribution']/sum(NG_hourly_distribution['hourly_distribution'])

In [44]:
NG_hourly_distribution['hour'] = NG_hourly_distribution['hour']-1

In [45]:
NG_hourly_distribution.head()

   hour  hourly_distribution     ratio
0     0                  105  0.033113
1     1                  100  0.031536
2     2                   95  0.029959
3     3                   95  0.029959
4     4                  100  0.031536

In [46]:
NG_monthly_production = pd.read_csv('NG_monthly_production.csv')

In [47]:
NG_monthly_production.head()

   month  NG_production(e3m3/d)
0      1                   6184
1      2                   6165
2      3                   6168
3      4                   5978
4      5                   6170

In [48]:
input_df['NG_demand(m^3)'] = 0
input_df['NG_demand(m^3)'] = input_df['NG_demand(m^3)'].astype(float)
input_df.head()

                     SBG(kWh)  HOEP  NG_demand(m^3)
Datetime
2017-01-01 00:00:00   3193000   0.0             0.0
2017-01-01 01:00:00   3227000   0.0             0.0
2017-01-01 02:00:00   3126000   0.0             0.0
2017-01-01 03:00:00   3122000   0.0             0.0
2017-01-01 04:00:00   3090000   0.0             0.0

NG demand calculation

In [49]:
for index, row in input_df.iterrows():
   
    curr_hour = index.hour
    curr_month = index.month 
    ratio = NG_hourly_distribution[NG_hourly_distribution['hour']==curr_hour]['ratio'].iloc[0]
    NG_prod = NG_monthly_production[NG_monthly_production['month']==curr_month]['NG_production(e3m3/d)'].iloc[0]
  
    input_df.loc[index,'NG_demand(m^3)'] = (ratio * NG_prod).round(3)*1000

In [50]:
input_df.head()

                     SBG(kWh)  HOEP  NG_demand(m^3)
Datetime
2017-01-01 00:00:00   3193000   0.0        204768.0
2017-01-01 01:00:00   3227000   0.0        195017.0
2017-01-01 02:00:00   3126000   0.0        185266.0
2017-01-01 03:00:00   3122000   0.0        185266.0
2017-01-01 04:00:00   3090000   0.0        195017.0

In [51]:
input_df.reset_index(inplace=True)

In [52]:
input_df.head()

             Datetime  SBG(kWh)  HOEP  NG_demand(m^3)
0 2017-01-01 00:00:00   3193000   0.0        204768.0
1 2017-01-01 01:00:00   3227000   0.0        195017.0
2 2017-01-01 02:00:00   3126000   0.0        185266.0
3 2017-01-01 03:00:00   3122000   0.0        185266.0
4 2017-01-01 04:00:00   3090000   0.0        195017.0

# Mixed Integer Linear Programming

In [59]:
"""
Model for RNG/NG
"""

import pulp
import pandas as pd


# Time-series constants
SBG = list(input_df['SBG(kWh)'])
D = list(input_df['NG_demand(m^3)'])
HOEP = list(input_df['HOEP'])

# Fixed constants
nu_electrolyzer = 3.55 / 4.63
E_HHV_H2 = 3.55
nu_reactor = 213.6 / 4 / 68.7
HHV_H2 = 68.7
HHV_NG = 10.55
CO2_available = 1300.26
E_electrolyzer_min = 0
E_electrolyzer_max = 1000
tau = 0.50
beta = 1.35
C_0 = 1324.3
mu = 0.707
gamma = 1714.8
k = 2e6
C_upgrading = 1172.3
C_CO2 = 0.172
TC = 0.008804
C_H2O = 0.00314
WCR = 0.4
OPEX_upgrading = 146.5

# MILP model
LP = pulp.LpProblem('LP', pulp.LpMinimize)
RNG_max = pulp.LpVariable('RNG_max',
                          lowBound=0,
                          cat='Continuous')
N_electrolyzer = pulp.LpVariable('N_electrolyzer',
                                 lowBound=0,
                                 cat='Continuous')
alpha = pulp.LpVariable.dicts('alpha',
                          [str(i) for i in range(1, 31)],
                          cat='Binary')
E = pulp.LpVariable.dicts('E_h',
                          [str(i) for i in range(len(input_df.index))],
                          lowBound=0,
                          cat='Continuous')
H2 = pulp.LpVariable.dicts('H2_h',
                          [str(i) for i in range(len(input_df.index))],
                          lowBound=0,
                          cat='Continuous')
RNG = pulp.LpVariable.dicts('RNG_h',
                          [str(i) for i in range(len(input_df.index))],
                          lowBound=0,
                          cat='Continuous')
CO2 = pulp.LpVariable.dicts('CO2_h',
                          [str(i) for i in range(len(input_df.index))],
                          lowBound=0,
                          cat='Continuous')
NG = pulp.LpVariable.dicts('NG_h',
                          [str(i) for i in range(len(input_df.index))],
                          lowBound=0,
                          cat='Continuous')
CAPEX = pulp.LpVariable('CAPEX', cat='Continuous')
OPEX = pulp.LpVariable('OPEX', cat='Continuous')

for i, h in enumerate([str(i) for i in range(len(input_df.index))]):
    # Energy and flow constraints
    if h == '0':
        LP += RNG_max <= CO2_available
    LP += H2[h] == nu_electrolyzer * E[h] / E_HHV_H2
    LP += RNG[h] == nu_reactor * H2[h] * HHV_H2 / HHV_NG
    LP += CO2[h] == RNG[h]

    # Demand constraint
    LP += NG[h] == D[i] - RNG[h]

    # Electrolyzer and reactor constraints
    LP += N_electrolyzer * E_electrolyzer_min <= E[h]
    LP += N_electrolyzer * E_electrolyzer_max >= E[h]
    LP += E[h] <= SBG[i]
    LP += RNG[h] <= RNG_max
    if h != '0':
        LP += -RNG_max * tau <= RNG[h] - RNG[str(i - 1)]
        LP += RNG_max * tau >= RNG[h] - RNG[str(i - 1)]
    if h == '0':
        LP += pulp.LpAffineExpression(dict(zip(alpha, range(1, 31)))) == N_electrolyzer
        LP += pulp.lpSum(alpha) <= 1

# CAPEX
C_electrolyzer = [beta * C_0 * i ** mu for i in range(1, 31)]
LP += pulp.LpAffineExpression(dict(zip(alpha, C_electrolyzer))) + \
      gamma * RNG_max + k + C_upgrading * RNG_max == CAPEX

# OPEX
LP += pulp.LpAffineExpression(dict(zip(CO2, [C_CO2] * len(input_df.index)))) + \
      pulp.LpAffineExpression(dict(zip(E, [x + TC for x in HOEP]))) + \
      pulp.LpAffineExpression(dict(zip(H2, [C_H2O * WCR] * len(input_df.index)))) + \
      OPEX_upgrading * RNG_max == OPEX

# Objective
LP += CAPEX + OPEX, 'Z'

LP.solve()
print([x.varValue for x in LP.variables()])
print(pulp.value(LP.objective))

AttributeError: 'str' object has no attribute 'name'

In [55]:
LP

AttributeError: 'int' object has no attribute 'name'